html,body{
        margin: 0;

}
.book-container{
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
        gap: 15px;

}
.book-card{
        padding: 10px;
        border-radius: 10px;
        border-left: 5px solid brown;
        box-shadow: 4px 2px 6px rgb(0,0,0,0.3);

}
#heading-title{
        background-color: brown;
        color:antiquewhite;
        margin: 0;
        margin-bottom:20px ;
        padding: 20px;
        
}
#add-book{
        padding: 10px;
        margin-left:10px ;
}
#add-book>button{
        background-color: rgba(30, 141, 2, 0.999);
        color:azure;
        border-style: none;
        padding: 10px 15px 10px 15px;
        border-radius: 5px;
        font-weight: bold;
}
.input-container{
        margin: 10px;
}
#close-button{
        display: flex;
        margin-left:auto ;
        border-style: none;
        background-color:brown;
        border-radius: 6px;
        color:antiquewhite;
}
.dialog{
        border-style: none;
        border-radius: 15px;
        box-shadow: 4px 4px 8px rgb(0,0,0,0.3);
}
.remove-button{
        background-color: #e67e22;
        color:white;
        border-style: none;
        margin: 8px;
        padding:4px 8px 4px 8px ;
        border-radius: 8px;
        font-weight: bold;
}
.book-read-status{
    border-style: none;
    border-radius: 8px;    
    padding:4px 15px 4px 15px ;
    font-weight: bold;
color: white;
}
#submit{
border-style: none;
border-radius: 8px;    
 padding:4px 15px 4px 15px ;
 font-weight: bold;
color: white; 
background-color:green;
}


