html,body{
        margin: 0;

}
.book-container{
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
        gap: 15px;

}
.book-card{
        padding: 10px;
        border-radius: 10px;
        border-left: 5px solid brown;
        box-shadow: 4px 2px 6px rgb(0,0,0,0.3);

}
#heading-title{
        background-color: brown;
        color:antiquewhite;
        margin: 0;
        margin-bottom:20px ;
        padding: 20px;
}
#add-book{
        padding: 10px;
        margin-left:10px ;
}
#add-book>button{
        background-color: rgba(45, 200, 6, 0.999);
        color:azure;
        border-style: none;
        padding: 10px 15px 10px 15px;
        border-radius: 5px;
}


